.App {
  text-align: center;
}

.date-list {
  list-style: none;
}

.date-list li {
  padding: 10px;
}

.date-list .form-row label {
  display: inline-block;
  width: 120px;
  text-align: right;
}

.date-list .form-row input {
  width: 120px;
}
